@page

			<article>
				<h3>Overskrift</h3>
				<hr>
				<img src="img/stol1.jpg" alt="">
				<div class="oprettet">
					<p>Lørdag d. 2/2-2017</p>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti reiciendis laudantium accusantium, itaque amet ullam nam distinctio illum beatae nobis tempore corporis earum, unde rerum dicta repudiandae perspiciatis fugiat totam!</p>
				<div class="price">
					<p>Pris: 100kr.</p>
				</div>
			</article>
			<article>
				<h3>Overskrift</h3>
				<hr>
				<img src="img/stol2.jpg" alt="">
								<div class="oprettet">
					<p>Lørdag d. 2/2-2017</p>
				</div>
				<p>Fugit magnam culpa non, placeat dolore voluptate perferendis suscipit. Quas temporibus culpa suscipit eaque tenetur veniam excepturi reiciendis ea neque corporis adipisci assumenda eligendi aut laudantium blanditiis accusamus, eius harum!</p>
				<div class="price">
					<p>Pris: 100kr.</p>
				</div>
			</article>
			<article>
				<h3>Overskrift</h3>
				<hr>
				<img src="img/stol3.jpg" alt="">
								<div class="oprettet">
					<p>Lørdag d. 2/2-2017</p>
				</div>
				<p>Autem molestias expedita, officiis voluptate non accusantium temporibus ut qui aperiam cum. Soluta cum amet temporibus ipsum natus magni labore possimus quasi, enim dicta provident blanditiis magnam dolorum velit, nemo.</p>
				<div class="price">
					<p>Pris: 100kr.</p>
				</div>
			</article>
			<article>
				<h3>Overskrift</h3>
				<hr>
				<img src="img/sofa1.jpg" alt="">
								<div class="oprettet">
					<p>Lørdag d. 2/2-2017</p>
				</div>
				<p>Tempore consequuntur facere blanditiis, alias modi enim eius temporibus explicabo ut ea exercitationem recusandae consequatur, atque, vel, vitae impedit. Distinctio voluptates ipsam doloribus, nisi quas cupiditate minus expedita amet ut?</p>
				<div class="price">
					<p>Pris: 100kr.</p>
				</div>
			</article>
			<article>
				<h3>Overskrift</h3>
				<hr>
				<img src="img/sofa2.jpg" alt="">
								<div class="oprettet">
					<p>Lørdag d. 2/2-2017</p>
				</div>
				<p>Amet sint ullam quidem est iusto vero iste doloremque voluptas. Recusandae ea error quisquam sed repudiandae voluptas cumque aut ipsam. Velit magni architecto officia quod omnis quasi dolorem, cupiditate quae.</p>
				<div class="price">
					<p>Pris: 100kr.</p>
				</div>
			</article>
			<article>
				<h3>Overskrift</h3>
				<hr>
				<img src="img/sofa3.jpg" alt="">
								<div class="oprettet">
					<p>Lørdag d. 2/2-2017</p>
				</div>
				<p>Aspernatur consectetur, temporibus vero modi. Voluptas qui debitis, aperiam at voluptatem id dignissimos consectetur esse commodi perferendis, doloremque, vero saepe, quo explicabo? Pariatur, voluptatum aspernatur necessitatibus totam enim iure accusantium.</p>
				<div class="price">
					<p>Pris: 100kr.</p>
				</div>
			</article>
		